In [1]:
import pandas as pd

In [6]:
perf = pd.read_csv("performance0.csv")
for i in range(8):
    perf.add(pd.read_csv("performace"))

    InitTemp  CoolingRate  MarkovLength   Steps  CostFunction
0        2.0         0.50            20   10760             4
1        2.0         0.50            50   12124             0
2        2.0         0.50           100   34433             2
3        2.0         0.50           200   65884             2
4        2.0         1.00            20   13631             2
..       ...          ...           ...     ...           ...
95      50.0         1.80           200  111663             3
96      50.0         1.98            20   35528             0
97      50.0         1.98            50   46537             0
98      50.0         1.98           100   66803             0
99      50.0         1.98           200  178542             2

[100 rows x 5 columns]

In [15]:
perf1 = pd.read_csv("performance.csv")
perf1.columns = ["InitTemperature", "CoolingRate", "MarkovLength", "Steps", "CostFunction"]
perf1 = perf1[perf1.CostFunction == 0]
perf1[perf1.Steps == perf1.Steps.min()]

    InitTemperature  CoolingRate  MarkovLength  Steps  CostFunction
77              5.0          0.9            10   1357             0